<!DOCTYPE html>
<html>
<head>
    <title>Maintenance Mode</title>
</head>
<body style="background-color: {{ bg_color }}; text-align: center; padding-top: 50px; font-family: sans-serif; color: white;">
    <h1>{{ message }}</h1>
    <p>Mohon maaf atas ketidaknyamanannya.</p>
</body>
</html>
